.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle {

  border-radius: 50%;
  object-fit: cover;
  object-position: center;



}

.icon_in_circle {
  color: #00A7B5;
  width: 50%;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.my_btn {
  background-color: white;


}

.my_btn:hover {
  background-color: rgb(110, 121, 122)
}

.blurStyle {
  filter: blur(1px);
}

.greySacleStyle {
  filter: grayscale(50%);
}

.saturationStyle {
  filter: saturate(200%);
}

.cov {
  object-fit: contain;
  width: 100%;
  height: 150px;
  background-color: #5c5e6260;

}